/* src/styles/Header.module.css */

.header {
  background-color: var(--background);; /* Цвет фона, похожий на Telegram */
  padding: 20px 0;
  display: flex;
  color: var(--foreground)
}

.logo {
  font-size: 2rem; /* Размер шрифта */
  font-weight: bold;
  letter-spacing: 2px; /* Расстояние между буквами */
}

.menuButton {
  border-radius: 16px;
  border: none;
  font-size: 2rem;
  color: white;
  background-color: none;
  cursor: pointer;
  background-color: var(--background);
  /* transition: 0.3s ease-in-out; */
  transition: margin 700ms;
}