/* По умолчанию (mobile-first) скрываем десктопный хедер в сайдбаре */
.desktopHeaderContainer {
  display: none;
}

/* Показываем его только на экранах шире 768px */
@media (min-width: 769px) {
  .desktopHeaderContainer {
    display: block; /* Показываем контейнер */
  }

  /* Стилизуем сам SidebarHeader для правильного расположения */
  .desktopHeaderContainer > header {
    display: flex;
    justify-content: flex-end; /* Двигаем кнопку вправо */
    padding: 0.5rem;
  }
}